/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

@import url('https://fonts.googleapis.com/css?family=Damion|Muli:400,600');
.gsr_back_body {
  font-family: 'Muli', sans-serif;
  background: url("../img/geometry2.png");
}

.gsr_back_body h2 i {
    font-style: normal;
    background: #fff;
    position: relative;
    padding: 10px;
}
:focus{outline: none;}

.gsr_back_body .cmn_cls{
    color: #a94442;
}

.gsr_tab_pan a.gsr_disabled{
    cursor: not-allowed;
    text-decoration: none;
}

.gsr_tab_pan a.gsr_disabled:hover{
    background-color: #e7e7e7;
}
.gsr_tab_pan a.nav-tab{
    text-decoration: none;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 300ms;
  visibility: hidden;
  opacity: 0;
  z-index: 9999;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 50ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 300px;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

.popup .codesnip{
  color: #A52A2A;
font-weight: bold;
font-size: 18px;
}


.popup_endp code{
  display: block;
margin-bottom: 3px;
}
.wraparea{
  border: 1px solid #ccc;
  border-top: 0;
  vertical-align: top;
  overflow: hidden;
  padding: 0 18px 20px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 26px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
  background-color: #0073AA;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.wraparea input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #0073aa;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  height: 31px;
font-size: 16px;
font-family: verdana;
}

.wraparea select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #0073aa;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  height: 31px;
font-size: 16px;
font-family: verdana;
float: left;
margin-right: 10px;
width: 200px;
}

.wraparea input:focus,
.wraparea select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.wraparea table td, .wraparea table th{
  font-family: verdana;
  font-weight: normal;
}

.navmar{
  margin-left: 0;
  margin-right: 0.3em;
}

.wraparea table.wpr_set_table_wrap th{
  width: 320px;
}

.wraparea .param_plus{
  width: auto;
position: relative;
display: inline-block;
}

.wraparea .param_plus #wpr_add_params{
  padding-right: 25px;
}

.wraparea .param_plus i{
  position: absolute;
right: 5px;
top: 7px;
}